<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Warehouse Portal</title>
    <link href="~/Content/c3.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/c3.min.js"></script>
    <script src="~/Scripts/d3.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <style>
        .navbar-nav li:hover > ul.dropdown-menu {
            display: block;
        }

        body {
            margin: 0px;
            padding-top: 0px !important;
        }

        .dropdown-submenu {
            position: relative;
        }

            .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: -6px;
            }

        /* rotate caret on hover */
        .dropdown-menu > li > a:hover:after {
            text-decoration: underline;
            transform: rotate(-90deg);
        }
    </style>
</head>
<!--refer https://www.codeply.com/go/ji5ijk6yJ4/bootstrap-4-dropdown-submenu-on-hover -->
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand pb-2">
            @Html.ActionLink("Material Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Kitting and Supermarket </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>@Html.ActionLink("Kanban Master", "Login", "Home", new { id = "1" }, new { @class = "dropdown-item" })</li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Supermarket</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Supermarket Slider Color  Maintainance", "Login", "Home", new { id = "3" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Supermarket Slider Address", "Login", "Home", new { id = "2" }, new { @class = "dropdown-item" })</li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Supermarket Trigerring</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="http://172.16.206.19/Supermarket_Triggering/Trigerring.aspx">Supermarket Trigerring</a></li>
                                        <li><a class="dropdown-item" href="http://172.16.206.19/Supermarket_Triggering/File_Upload.aspx">Supermarket Trigerring File Upload</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Help Information </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>@Html.ActionLink("Kanban Calculation", "KANBAN_CALCULATION", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Kanban Color Flow", "KANBAN_COLOR_FLOW", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">BIN ID Registration</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item">Supplier Bin ID</a></li>
                                <li><a class="dropdown-item">Supermarket Bin ID</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Slider Address Information", "SLIDER_INFORMATION", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Kanban Card Information", "KANBAN_CARD_INFORMATION", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Material Warehouse </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="http://172.16.206.19/RM_WH/Warehouse.aspx">Warehouse(2001) Receiving Stock</a></li>
                        <li><a class="dropdown-item" href="http://172.16.206.19/PART_INFO/RM_MAIN_WH.aspx">Warehouse(2002) Part Info</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Warehouse QTF</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="http://172.16.206.19/Warehouse%20QTF/Warehouse_QTF/Cashier.aspx">SUPERMARKET QTF LIST</a></li>
                                <li><a class="dropdown-item" href="http://172.16.206.19/Warehouse%20QTF/Warehouse_QTF/Kitting_Screen.aspx">KITTING SCREEN</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="http://172.16.206.29/iBusiness2/Account/Login.aspx?ReturnUrl=%2fiBusiness2%2f">IBusiness System</a></li>
                        <li>@Html.ActionLink("Generate Workara Kanban", "GENERATE_WORKARA_KANBAN", "KANBAN_MASTER", new { area = "" }, new { @class = "dropdown-item" })</li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Production Monitor</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="http://172.16.206.19/ProductionMonitorSplit/ProdMonT32.aspx">Supermarket Monitor</a></li>
                                <li><a class="dropdown-item" href="http://172.16.206.19/ProductionMonitor/T32All.aspx">Kitting Monitor</a></li>

                            </ul>

                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">2002 Warehouse Trigerring</a>
                            <ul class="dropdown-menu dropdown-submenu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">RM WORKARA Trigerring</a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li><a class="dropdown-item" href="http://172.16.206.19/Supermarket_Triggering/RM_WORKARA.aspx"> 2002 RM WORKARA Monitor</a></li>
                                        <li><a class="dropdown-item" href="http://172.16.206.19/Supermarket_Triggering/FileUpload_Workara.aspx">2002 RM WORKARA File upload</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">2002 Trigerring</a>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li><a class="dropdown-item" href="http://172.16.206.19/RM_2002_TRIGERRING/WH_2002.aspx">2002 Triggering</a></li>
                                        <li><a class="dropdown-item" href="http://172.16.206.19/RM_2002_TRIGERRING/File_Upload.aspx">2002 Triggering File Upload</a></li>
                                        <li><a class="dropdown-item" href="http://172.16.206.19/RM_2002_TRIGERRING/TF001_monitoring.aspx">2002 TF001 Monitoring</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                        <li>@Html.ActionLink("Generate Warehouse Picklist", "GENERATE_PICKINGLIST_WAREHOUSE", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                        <li><a class="dropdown-item" href="http://172.16.206.19/BIN_MONITOR/BIN_MONITOR_2002.aspx">Material Store Aging</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> SMT Store </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>@Html.ActionLink("Generate Rack Label", "GenerateSMTStoreRackLabel", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Work Instruction </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Recieving</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Receiving", "RECEIVING", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Receiving Labelling", "RECEIVING_LABELLING", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("PCB Labelling", "PCB_LABELLING", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">(Main Store)</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Stock In", "STOCK_IN", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Stock Out", "STOCK_OUT", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Kitting", "KITTING", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Drop In", "DROP_IN", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Supermarket", "SUPERMARKET", "Home", new { area = "" }, new { @class = "dropdown-item" })</li>
                    </ul>
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Statistics", "Chart", "KANBAN_MASTER", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>

    </nav>

    <div class="container body-content">

    </div>
    <div class="container-fluid text-body">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
